@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

$alb: #FFFFFF;
$alb2: #fcf8ed;
$negru: #000000;
$mov: #523a5f;
$galben: #FAB602;
$portocaliu: #F27C1D;
$gradient1-1: #db9942;
$gradient1-2: #fbb603;
$gradient2-1: #fab306;
$gradient2-2: #f38637;


$fontBase: 16px;
$normal: 400;
$bold: 700;

$maxW: 1890px;
$colMargin: 100px;